#ignore those directories
CMakeFiles/

#ignore those files
cmake_install.cmake
CMakeCache.txt
CMakeCache.txt.bak
CMakeLists.txt.bak
polygonization
Makefile
headers/*.a
sources/*.a
updateMaster.sh
output.*
o
c_cpp_properties.json
ergasia1_2022.pdf
ergasia1_2022.zip
ergasia1_2022v2.pdf
ergasia1_2022v3.pdf